.container {
    width: 70%;
    margin: auto;
    padding: 20px;
    user-select: none;
}

.title {
    font-size: 100px;
    text-align: center;
    color: rgba(90, 146, 34, 0.288);
    font-family: 'Creepster', cursive;

}

.image {
    height: 280px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: image;
    animation-timing-function: ease;
}

@keyframes image {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-40px);
    }


    23% {
        transform: translateY(-18px);
    }

    26% {
        transform: translateY(-40px);
    }

    40% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 70px;
    }

    .image {
        height: 220px;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 40px;
    }

    .image {
        height: 200px;
    }

    .container {
        width: 100%;
    }
}