.container {
    display: flex;
    width: 47%;
    border: 1px solid rgb(94, 126, 43);
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 5px;
}

.container:hover{
    background-color: rgba(255, 255, 255, 0.11);
}

.infoBlock {
    text-align: center;
    margin: auto;
    padding: 10px;
    color: rgba(221, 210, 50, 0.856);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.image {
    max-width: 250px;
    max-height: 280px;
    user-select: none;
    padding-right: 10px;
}

@media (max-width: 1100px) {
    .infoBlock{
        font-size: 22px;
    }

    .image{
        max-width: 200px;
    max-height: 230px;
    }
}

@media (max-width: 950px) {
    /* .container {
        width: 100%;
    } */
    .infoBlock{
        font-size: 18px;
    }

    .image{
        max-width: 150px;
    max-height: 180px;
    }
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }
    .infoBlock{
        font-size: 25px;
    }

    .image{
        max-width: 175px;
    max-height: 210px;
    }
}

@media (max-width: 450px){
    .container {
        padding: 7px;
    }

    .infoBlock{
        font-size: 17px;
    }

    .image{
        max-width: 110px;
    max-height: 155px;
    }
}
