.container {
    display: flex;
    color: rgb(141, 141, 141);
}

.checkBox {
    border: 2px solid rgb(110, 110, 110);
    border-radius: 100px;
    background-color: rgb(53, 53, 53);
    height: 23px;
    width: 23px;
}

.selected {
    border: 8px solid rgb(150, 129, 13);
    ;
}

.label {
    font-size: 18px;
    user-select: none;
    padding-left: 15px;
    padding-right: 40px;
}

.checkBox:hover {
    background-color: #5E5B65FF;
    transition: 0.1s;
}

.checkBox:active {
    background-color: rgb(185, 181, 189);
}

@media (max-width: 550px) {

    .label {
        font-size: 15px;
        padding-left: 8px;
        padding-right: 18px;
    }

    .checkBox {
        height: 20px;
        width: 20px;
    }

}